.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/backgroundLogin.png");
    background-size: cover;
    height: 100vh;
}

.formTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #181818;
    border-radius: 5%;
    width: 40rem;
    height: 40rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.formContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 80%;
    height: 100%;
}

.formContainer img{
    width: 8rem;
    height: 8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.formContainer input{
    width: 100%;
    height: 2.5rem;
    color: white;
    border: none;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 0.9rem;
    font-family: 'Montserrat';
    padding-bottom: 0.5rem;
}

.formContainer input::placeholder{
    color: rgba(255, 255, 255, 0.535);
}

.formContainer input:focus{
    border-bottom: 1px solid #7f0f30;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Montserrat";
}


.buttons button{
    font-family: "Montserrat";
}

#enviar{
    width: 28%;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #530477;
    color: white;
    cursor: pointer;
}

#enviar:hover{
    background-color: #3b0455;
}

#cancelar{
    width: 28%;
    border: none;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #890404;
    color: white;
    cursor: pointer;
}

#cancelar:hover{
    background-color: #6b0303;
}