
.footer{
    position: absolute;
    background-color: transparent;
    color: white;
    text-align: center;
    width: auto;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.footer span{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}